<div class="container">
    <div class="row">
        <div class="card rounded-3">
            <div class="hstack">
                <div class="vr" [style.background-color]="office?.colour"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h2 class="card-title" [routerLink]="['/detail', this.officeId]"><strong>{{office?.name}}</strong></h2>
                        </div>
                        <div class="col-2">
                            <mat-icon [routerLink]="['/edit-office', this.officeId]">edit</mat-icon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <mat-icon> group</mat-icon>
                        </div>
                        <div class="col-11">
                            <p class="card-text">{{office?.maxCapacity}} Staff Members in Office</p>
                        </div>
                    </div>
                    <mat-divider inset></mat-divider>
                    <mat-accordion class="office-accordion">
                        <mat-expansion-panel (opened)="panelOpenState" (closed)="!panelOpenState" (click)="stateChanged($event)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div class="row justify-content-md-center">
                                        <div class="col-8">
                                            More Info
                                        </div>
                                        <div class="col-2">
                                            <mat-icon *ngIf="!panelOpenState">keyboard_arrow_down</mat-icon>
                                            <mat-icon *ngIf="panelOpenState">keyboard_arrow_up</mat-icon>
                                        </div>
                                    </div>

                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-2">
                                    <mat-icon> call</mat-icon>
                                </div>
                                <div class="col-10">
                                    {{office?.phoneNumber}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <mat-icon> email</mat-icon>
                                </div>
                                <div class="col-10">
                                    {{office?.emailAddress}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <mat-icon> group</mat-icon>
                                </div>
                                <div class="col-10">
                                    Office Capacity: {{office?.maxCapacity}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <mat-icon> edit_location</mat-icon>
                                </div>
                                <div class="col-10">
                                    {{office?.physicalAddress}}
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>