<div class="container">
    <div class="row mt-3 justify-content-md-center">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search" #search="ngModel" [(ngModel)]="searchText">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><mat-icon> search</mat-icon></div>
            </span>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-md-center">
        <div class="col-9 col-sm-10 col-md-6 col-lg-6">
            <h2><strong>Staff Members in Office</strong></h2>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 pt-1">
            <h3>{{office?.numberOfPresentStaff}}</h3>
        </div>
    </div>
    <div class="row mt-3 justify-content-md-center">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <table class="table table-borderless">
                <tbody>
                    <tr *ngFor="let member of staffMembers | filter:searchText">
                        <td>
                            <span class="avatar-circle" [ngStyle]="{'background-image': 'url(' + member.avatar + ')'}"></span>
                        </td>
                        <td>{{member?.firstName}} {{member?.lastName}}</td>
                        <td>
                            <mat-icon (click)="openOptionsModal(member?.id)">more_vert</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4 justify-content-md-center" *ngIf="showCapacityReachedMessage">
        <div class="col-sm-10 col-md-8 col-lg-8 btn-danger text-center">
            <h4>Unable to add staff member.Maximum office capacity has been reached.</h4>
        </div>
    </div>
</div>
<button mat-fab color="basic" class="add-btn" (click)="openAddMemberModal()">+</button>