.add-btn {
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 500px;
}

.avatar-circle {
    display: block;
    height: 38px;
    width: 42px;
    border-radius: 50%;
    line-height: 50px;
}

td {
    padding: 5px;
}


/* hide the blue outline */

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

@media only screen and (min-width: 600px) {
    .add-btn {
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .add-btn {
        width: 5rem;
        height: 5rem;
    }
}