<div class="container">
    <div class="row my-3 ">
        <div class="col-2">
            <a (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
        <div class="col-10 text-center">
            <h1>Office</h1>
        </div>
    </div>
    <div class="row my-3 justify-content-md-center">
        <div class="col">
            <app-office [office]="office"></app-office>
        </div>
    </div>
    <app-staff-members></app-staff-members>
</div>