<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-2">
            <a (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
        <div class="col-10">
            <h1>Office</h1>
        </div>
    </div>
    <app-office [office] = "office"></app-office>
    <div class="row">
        <div class="col-10">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search</mat-label>
                <input type="type" matInput 
                       placeholder="Search">
              </mat-form-field>
        </div>
        <div class="col">
            <mat-icon>search</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Staff Members in Office</h1>
        </div>
        <div class="col">
            {{office?.maxCapacity}}
        </div>
    </div>
    <div *ngFor="let member of staffMembers">
        <div class="row">
            <div class="col-2">
                <mat-icon> person_pin</mat-icon>
            </div>
            <div class="col-8">
                {{member?.firstName}} {{member?.lastName}}
            </div>
            <div class="col-2">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">
    </div>
    <div class="col-3">
        <button mat-fab color="basic">+</button>
    </div>
</div>