<div class="modal-header" *ngIf="isDeleteMode">
    <div class="row">
        <div class="col-2">
            <a id="prevBtn" (click)="nextPrev(-1)">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>
        <div id="title" class="col-10">
            <h2 class="modal-title" id="modal-basic-title"><strong>Are You Sure You Want To Delete Staff Member?</strong></h2>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="tab">
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-primary delete-button rounded-pill" (click)="openEditMemberModal()">EDIT STAFF MEMBER</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn delete-btn-primary delete-button rounded-pill" id="nextBtn" (click)="nextPrev(1)">DELETE STAFF MEMBER</button>
            </div>
        </div>
    </div>
    <div class="tab">
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn btn-danger delete-button rounded-pill" (click)="deleteOffice()">DELETE OFFICE</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn delete-btn-primary delete-button rounded-pill" (click)="deleteStaffMember()">KEEP OFFICE</button>
            </div>
        </div>
    </div>

    <div class="step-pointer">
        <span class="step"></span>
        <span class="step"></span>
    </div>
    <mat-spinner class="spinner" [diameter]="45" *ngIf="isSpinnerLoading"></mat-spinner>

</div>